<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Deportes</title>
</head>
<body>
    <h1>Listado de Deportes</h1>

    <!-- Enlace para añadir un nuevo deporte -->
    <a href="{% url 'torremolinosSport:deporte_create' %}">Añadir Deporte</a>

    <ul>
        {% for deporte in deportes %}
            <li>{{ deporte.nombre }}
                <a href="{% url 'torremolinosSport:deporte_update' pk=deporte.id_deporte %}">Editar</a>
                <a href="{% url 'torremolinosSport:deporte_delete' pk=deporte.id_deporte %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay deportes registrados.</li>
        {% endfor %}
    </ul>
</body>
<footer>
    {% include "nombre.html" with nombre="Francisco Jiménez" %}
</footer>
</html>