{% extends "base.html" %}
{% block contenido %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <p>¿Desea eliminar a '{{ object.nombre }}'?</p>
                        <button type="submit" class="btn btn-danger">Borrar</button>
                        <a href="{% url 'torremolinosSport:deportes' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
