{% extends "base.html" %}
{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Equipo</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h1>Detalles del Equipo</h1>
          <p>Equipo: {{ equipo.nombre }}</p>
          <p>Equipación Principal: {{ equipo.equipacion_principal }}</p>
          <p>Equipación Suplente: {{ equipo.equipacion_suplente }}</p>
          <p>Contacto: {{ equipo.contacto }}</p>
          <p>Teléfono: {{ equipo.telefono }}</p>
          <p>Email: {{ equipo.email }}</p>

          <h2>Jugadores del Equipo</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dorsal</th>
                <th>Nombre</th>
                <th>Apellidos</th>
              </tr>
            </thead>
            <tbody>
              {% for jugador in equipo.jugador_set.all|dictsort:"dorsal" %}
              <tr>
                <td>{{ jugador.dorsal }}</td>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.apellido1 }} {{ jugador.apellido2 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <a href="{% url 'torremolinosSport:jugador_create' pk=equipo.id_equipo %}" class="btn btn-primary">Añadir Nuevo Jugador</a>
          <button onclick="window.history.back()" class="btn btn-secondary mt-2">Volver atrás</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

{% endblock %}