<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html>
<head>
    <title>Página de inicio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
{% block contenido %}
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'torremolinosSport:deportes' %}">Deportes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'torremolinosSport:instalaciones' %}">Instalaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'torremolinosSport:equipos' %}">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'torremolinosSport:jugadores' %}">Jugadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'torremolinosSport:partidos' %}">Partidos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="mb-4">Torremolinos Sports</h1>
        
        <!-- Imagen de deporte -->
        <img src="{% static 'img/deporte.jpg' %}" alt="Imagen de deporte" class="img-fluid rounded mb-4">

        <!-- Listado de los últimos cinco partidos jugados -->
        <h2>Últimos partidos jugados</h2>
        <ul class="list-group">
            {% for partido in ultimos_partidos %}
                <li class="list-group-item">{{ partido }}</li>
            {% endfor %}
        </ul>

        <!-- Listado de los próximos cinco partidos por jugar -->
        <h2 class="mt-4">Próximos partidos por jugar</h2>
        <ul class="list-group">
            {% for partido in proximos_partidos %}
                <li class="list-group-item">{{ partido }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endblock %}
</html>