{% extends "base.html" %}
{% block contenido %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <a href="{% url 'torremolinosSport:inicio' %}" class="btn btn-primary">Ir a inicio</a>
                    <h1 style="text-align: center;">Listado de Instalaciones</h1>

                    <!-- Enlace para añadir un nuevo deporte -->
                    <a href="{% url 'torremolinosSport:instalacion_create' %}" class="btn btn-warning btn-lg mb-3" style="float: right;">Añadir Instalación</a>
                    <table class="table table-striped text-white">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Instalación</th>
                                <th>Dirección</th>
                                <th>Iluminación</th>
                                <th>Cubierta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instalacion in instalaciones %}
                                <tr>
                                    <td>{{ instalacion.id_instalacion }}</td>
                                    <td>{{ instalacion.nombre }}</td>
                                    <td>{{ instalacion.direccion }}</td>
                                    <td>{% if instalacion.iluminacion %}Si{% else %}No {% endif %}</td>
                                    <td>{% if instalacion.cubierta %}Si{% else %}No {% endif %}</td>
                                    <td>
                                        <a href="{% url 'torremolinosSport:instalacion_update' pk=instalacion.id_instalacion %}" class="btn btn-warning">Editar</a>
                                        <a href="{% url 'torremolinosSport:instalacion_delete' pk=instalacion.id_instalacion %}" class="btn btn-warning">Eliminar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">No hay instalaciones registradas.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
