{% extends "base.html" %}
{% block contenido %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <!DOCTYPE html>
          <html lang="es">
          <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Detalle del Partido</title>
          </head>
          <body>
              <h1>Detalle del Partido</h1>
              <p><strong>Deporte:</strong> {{ partido.id_deporte }}</p>
              <p><strong>Fecha y Hora:</strong> {{ partido.fecha_hora }}</p>
              <p><strong>Instalación:</strong> {{ partido.id_instalacion }}</p>
              <p><strong>Equipo Local:</strong> {{ partido.id_local.nombre }}</p>
              <p><strong>Equipo Visitante:</strong> {{ partido.id_visitante.nombre }}</p>
              <p><strong>Puntos del Equipo Local:</strong> {{ partido.puntos_local }}</p>
              <p><strong>Puntos del Equipo Visitante:</strong> {{ partido.puntos_visitante }}</p>
              <p><strong>Observaciones:</strong> {{ partido.observaciones }}</p>
              <button onclick="window.history.back()" class="btn btn-secondary mt-2">Volver atrás</button>
          </body>
          </html>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
